@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Apply Tailwind CSS directly without a media query */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
:root {
  margin: 0;
  font-family: "Inter", sans-serif;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  position: relative;
}
